*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    color: #333;
    background-color: #F1F6F9;
}

.icon-cart {
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
}

.container-items{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display:flex;
    flex-direction: column;
    gap: 1opx;

}

.item img{
    width: 100%;
    height: 300px;
     
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: aliceblue;
    padding: 15px 10px;
    cursor: pointer;
}

.info-product button:hover{
    background-color:orange;
    color: black;
}

.icon-cart :hover{
    cursor: pointer;
}
.carrito{
    list-style: none;
    background-color: white;
    color: white;
    align-items: center;
}